extends layout

block content
  form
    fieldset 
      legend 종목코드 확인
      div(class="bs-docs-section")
        div(class="row")
          div(class="col-lg-4")
            div(class="form-group row")
              label(for="" class="form-label mt-4") 종목코드
              div(class="form-group")
                div(class="input-group mb-3")
                  input(type="text" class="form-control" id="isuSrtCd" name="isuSrtCd" placeholder="종목코드를 입력해주세요")
                  button(type="button" class="btn btn-primary" onclick="get_categorys()") 확인
                div(id="check_isuSrtCd" class="input-group mb-3")
      div(class="bs-docs-section")
        div(class="row")
          div(class="col-lg-10")
            div(class="form-group row")
              label(for="" class="form-label mt-4") 카테고리 목록
              textarea(id="result_categorys_textarea" class="form-control" name="", cols="30", rows="10",
                       readonly="readonly", placeholder="종목코드를 검색해주세요")
            div(class="form-group row")
              label(for="" class="form-label mt-4") 카테고리 추가
              textarea(id="insert_textarea" class="form-control" name="", cols="30", rows="10",
                       placeholder="카테고리를 입력해주세요\n카테고리는 쉼표로 구분해 주세요")
              button(type="button" class="btn btn-primary" onclick="insert_categorys()") 추가

        //- https://bootswatch.com/cerulean/