body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  resize: none !important;
}

.checker_ok {
  color: green;
}

.checker_error {
  color: red;
}